h1 {
	font-family: Helvetica;
}
p {
	font-family: Helvetica;
}
a {
	font-family: Helvetica;
}
nav {
	top: 0;
	left: 300px;
	position: fixed;
	word-spacing: 10px;
}
footer {
	position: fixed;
	bottom: 0;
	font-family: Helvetica;
}