<!--
<div class="go-back">
    <div class="go-back__container">
        <a href="https://www.snipcart.com/">Go back to Snipcart.com</a>
        <span>This is a Snipcart powered demonstration store.</span>
    </div>
</div>
-->

<header class="header">

  <h1><a href="{{ "/" | absolute_url }}">tmrw</a></h1>
  <img src="assets\images\Untitled-1.gif" />


            <a href="https://tinmin.github.io/">home</a></br>
            <a href="./store.html">store</a></br>
            <a href="./coffee.html">buy me coffee</a></br>
            <a href="./works.html">works</a></br>
            <a href="./about.html">about</a>


</header>
