<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head></head>
<body>
  <header>
    <h1><a href="{{ "/" | absolute_url }}">tin min</a></h1>
    <img src="assets\img\Untitled-1.gif" />

            <a href="./store.html">store</a></br>
            <a href="./resume-page.html">resumes</a></br>
            <a href="./projects-page.html">projects</a></br>
            <a href="./contact-page.html">contact</a>

  </header>
  <main class="main">
    <div class="products">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
</body>
<div hidden id="snipcart" data-api-key="NDE5ZTliOTUtYTEwNy00MmViLTg1NTAtMThlYWMzNjMxMTc5NjM3MjAzMzA1MTY2MTQ4MTYw"></div>
  <script src="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.js" defer></script>
</html>
