<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
<script src="/assets/js/scale.fix.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tin</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon_io/site.webmanifest">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">


</head>
<body>
  <div class="wrapper">
  <header>
    <h1><a href="{{ "/" | absolute_url }}">otomorrow</a></h1>
    <img src="assets\images\Untitled-1.gif" />

            <a href="./store.html">store</a></br>
            <a href="./projects.html">projects</a></br>
            <a href="./contact.html">contact</a>

  </header>

<section>
{{content}}
</section>

<footer>

        <p><small>Hosted on GitHub Pages &mdash; Tin Min 2020</a></small></p>
</footer>

</div>

</body>
<div hidden id="snipcart" data-api-key="NDE5ZTliOTUtYTEwNy00MmViLTg1NTAtMThlYWMzNjMxMTc5NjM3MjAzMzA1MTY2MTQ4MTYw"></div>
  <script src="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.js" defer></script>
</html>
