<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{% include head.html %}

<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
 <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
 <link rel="stylesheet" href="{{ "/assets/css/style.scss" | relative_url }}">
 <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.css" />

</head>

<body>
 {% include header.html %}
 <main class="main">
 <div class="products">
 {{ content }}
 </div>
 </main>
 {% include footer.html %}
</body>
<div hidden id="snipcart" data-api-key="NDE5ZTliOTUtYTEwNy00MmViLTg1NTAtMThlYWMzNjMxMTc5NjM3MjAzMzA1MTY2MTQ4MTYw"></div>
<script src="https://cdn.snipcart.com/themes/v3.0.10/default/snipcart.js" defer></script>
</html>
